<div
    fxFlexFill
    fxLayout="column"
>
    <mat-toolbar fxLayoutGap="10px">
        <mat-form-field>
            <mat-label>Filter Items</mat-label>
            <input
                matInput
                placeholder="Ex: caronavirus"
                [(ngModel)]="dataFilterService.dataFilters.text"
                mat-input
                (ngModelChange)="dataFilterService.dataFilters.apply()"
            >
        </mat-form-field>

        <mat-form-field>
            <mat-label>Start Date</mat-label>
            <input
                matInput
                [matDatepicker]="startDatePicker"
                [(ngModel)]="dataFilterService.dataFilters.dateRange.startDate"
                (ngModelChange)="dataFilterService.dataFilters.apply()"
            />
            <mat-datepicker-toggle
                matSuffix
                [for]="startDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>End Date</mat-label>
            <input
                matInput
                [matDatepicker]="endDatePicker"
                [(ngModel)]="dataFilterService.dataFilters.dateRange.endDate"
                (ngModelChange)="dataFilterService.dataFilters.apply()"
            />
            <mat-datepicker-toggle
                matSuffix
                [for]="endDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>News Sources</mat-label>
            <mat-select
                multiple
                (ngModelChange)="dataFilterService.dataFilters.apply()"
                [(ngModel)]="dataFilterService.dataFilters.publications"
            >
                <mat-option
                    *ngFor="let publication of newsService.validPublications"
                    [value]="publication"
                >{{publication}}</mat-option>
            </mat-select>
        </mat-form-field>

        <button
            mat-icon-button
            (click)="dataFilterService.dataFilters.init()"
            color="warn"
            matTooltip="Reset Filters"
        >
            <mat-icon>refresh</mat-icon>
        </button>

        <button
            mat-icon-button
            (click)="dataFilterService.dataFilters.clear()"
            color="warn"
            matTooltip="Clear Filters"
        >
            <mat-icon>cancel</mat-icon>
        </button>

        <span fxFlex></span>

        <span>{{dataFilterService.dataFilters.filteredTweets.length}} of
            {{dataFilterService.dataFilters.allTweets.length}}
            Tweets.</span>
        <span>{{dataFilterService.dataFilters.filteredHeadlines.length}} of
            {{dataFilterService.dataFilters.allHeadlines.length}} Headlines.</span>

    </mat-toolbar>


    <div
        fxFlex="fill"
        fxLayout="row"
        class="scroll-y"
        *ngIf="dataFilterService.dataFilters.allTweets.length && dataFilterService.dataFilters.allHeadlines.length && !sentimentAnalysisService.processing; else loadingTemplate"
    >
        <div fxFlex="80%">
            <mat-tab-group
                fxFlex="fill"
                style="overflow: auto"
                [(selectedIndex)]="selectedTabIndex"
                (selectedTabChange)="onSelectedTabChange()"
            >
                <mat-tab
                    label="Timeline"
                    fxFlex="fill"
                >
                    <app-timeline
                        *ngIf="selectedTabIndex == 0"
                        fxFlex="fill"
                    ></app-timeline>
                </mat-tab>
                <mat-tab
                    [label]="table.label"
                    fxFlex="fill"
                    *ngFor="let table of tables; index as i;"
                >
                    <ngx-datatable
                        *ngIf="selectedTabIndex == i+1"
                        fxFlex="fill"
                        class="material"
                        [rows]="dataFilterService.dataFilters[table.itemsKey]"
                        [columns]="table.columns"
                        [selected]="selectedItems"
                        [selectionType]="SelectionType.single"
                        [limit]="5"
                        [footerHeight]="50"
                        [headerHeight]="60"
                        rowHeight="auto"
                        (click)="onTableRowClick(table.itemType)"
                    ></ngx-datatable>
                </mat-tab>
            </mat-tab-group>
        </div>

        <app-selected-item fxFlex="20%"></app-selected-item>


    </div>

    <ng-template #loadingTemplate>
        <div
            fxFlex="fill"
            fxLayoutAlign="center center"
            fxLayout="column"
            fxLayoutGap="10px"
        >
            <mat-spinner></mat-spinner>
            <label *ngIf="!sentimentAnalysisService.processing">Loading Data...</label>
            <label *ngIf="sentimentAnalysisService.processing">Processing Data for Sentiment...</label>
        </div>
    </ng-template>

</div>