
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$political-sentiment-analyzer-primary: mat-palette($mat-light-blue);
$political-sentiment-analyzer-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$political-sentiment-analyzer-warn: mat-palette($mat-deep-orange);

// Create the theme object (a Sass map containing all of the palettes).
$political-sentiment-analyzer-theme: mat-light-theme($political-sentiment-analyzer-primary, $political-sentiment-analyzer-accent, $political-sentiment-analyzer-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($political-sentiment-analyzer-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// @swimlane/ngx-datatable styles.
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';


// Fix fxFlex
html,body {
    height: 100%;
    margin: 0px;
}
app-root {
    height: 100%;
    display: flex;
}

ui-view > * {
    border: 1px solid black;
    height: 100%;
}

mat-toolbar mat-form-field {
    font-size: initial !important;
}
mat-toolbar .mat-form-field-wrapper {
    padding-bottom: 0px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.mat-tab-body-wrapper {
    height: 100%;
    width: 100%;
}

// Utility Classes
.scroll-y {
    overflow-y: auto;
}

.debug {
    border: 2px solid red;
}


// NGX DataTable
.datatable-body-row.active .datatable-row-group {
    background-color: mat-color($political-sentiment-analyzer-accent, lighter) !important;
}
.datatable-header-cell-label {
    font-size: 16px !important;
}