<mat-card>
    <mat-card-header>
        <mat-card-title>{{typeTitle}}</mat-card-title>
        <mat-card-subtitle>{{date}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="scroll-y">
        <p>{{content}}</p>
        <mat-list>
            <mat-list-item *ngFor="let detail of detailProps">
                <h4 matLine>{{detail}}</h4>
                <p>{{elm[detail]}}</p>
            </mat-list-item>
            <mat-list-item>
                <h4 matLine>Sentiments</h4>
                <p>{{elm.sentiments | sentimentToImages}}</p>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <span fxFlex></span>
        <a
            mat-button
            [href]="url"
            target="_blank"
        >View {{typeTitle}}</a>
    </mat-card-actions>
</mat-card>