<div
    class="selectedItemPanel"
    fxFlex="fill"
    style="margin: 20px"
>

    <ng-container *ngIf="selectedItemService.selectedItemType == SelectedItemTypes.TWEET">
        <app-tweet-detail [tweet]="selectedItemService.selectedItem"></app-tweet-detail>
    </ng-container>

    <ng-container *ngIf="selectedItemService.selectedItemType == SelectedItemTypes.NEWS_HEADLINE">
        <app-news-headline-detail [newsHeadline]="selectedItemService.selectedItem"></app-news-headline-detail>
    </ng-container>

</div>